header {
	background: #ba0101;
	height: auto;
}
header .left{
	width: 10%;
	margin: 1.5% 2% 1.5% 5%;
	overflow: hidden;
}
header .left img {
	width: 100%;
	height: auto;
}

header .center {
	width:65%;
	font-size: 2rem;
	font-weight: 600;
	color:#fff;
	margin-top: 2%;
	line-height: 2.5rem;
	overflow: hidden;
	/*background:yellow;*/
}
header .center span {
	color: #f6ff00;
}

header .right{
	width: 11%;
	margin: 1% 0 0 2%;
	/*background: yellow;*/
}
header .right img {
	width:100%;
}