.contact-info {
	margin:5% 0;
}
.contact-info address p, .contact-info h6 {
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
}
.contact-info h6 {
	width: 50%;
	color:#bb0002;

}
.contact-info address {
	margin: 2.5% 0;
	font-style: normal;
}
.contact-info address p {
	width: 90%;
	padding: 1.5% 0;
}
.contact-info .weixin-qrcode {
	width: 30%;
	margin: 0 auto;
}

.contact-info em {
	display: block;
	text-align: center;
	font-size: 2.5rem;
	margin: 0 auto;
	font-style: normal;
	width: 100%;
}