header {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
}
.fixed {
	width: 100%;
	background: #D20001;
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	overflow: hidden;
}
.fixed .catname{
	font-size: 2rem;
}
header .fixed h1{
	width: 80%;
}
header .fixed h1 a{
	color: white;
	line-height: 40px;
	padding-left:5%;
}
header .fixed div{
	width: 20%;
	line-height: 40px;
	color: white;
	text-align: center;
	cursor: pointer;
	border-left: 1px solid white;
}

.navigate {
	padding: 0 5%;
	margin: 60px auto 3.5%;
	font-size: 2rem;
}

ul {
	width: 90%;
	margin: 5rem auto;
}

ul li{
	width: 100%;
	height: auto;
	margin:5rem 0;
	line-height: 1rem;
}
ul li h2{
	margin-bottom: 4%;
}
ul li h2 a{
	font-size: 3rem;
	color: blue;
	line-height: 2rem;
}
ul li h6{
	color: #666;
	font-size: 2rem;
}

.page {
	width: 100%;
	height: auto;
}

.page div{
	width: 50%;
}
.page a{
	display: block;
	padding: 2.5% 5%;
	margin: 1%;
	color:black;
	float:left;
	border:1px solid #eee;
	margin-left:3%;
}

.page div:last-child a{
	float:right;
	margin-right:3%;
} 



footer{
	margin-top:3rem;
	padding-bottom: 3rem;
	width: 100%;
	background: #f6f6f6;
	overflow: hidden;
	border-radius:10px;
}

footer p{
	text-align: center;
	margin: 2rem auto;
	font-size: 2rem;
}
footer p:first-child{
	width: 90%;
}

footer p:last-child{
	width: 90%;
}